<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Julioc se la come</title>
</head>
<body>

    <p> julico se lacome
    </p>



    <form action="crearArchivo.php" method="post">
        <label for="">Descripcion Texto</label>
        <input type="text" name="textoxd" >
        <button type="submit">enviar </button>
    </form>

</body>
</html>
